<h1>Create</h1>

<form method="post">
	<label>Id Hospital</label>
	<input type="text" name="idhospital" class="form-control" />
	<label>Nombre: </label>
	<input type="text" name="nombre" class="form-control" />
	<label>Direccion: </label>
	<input type="text" name="direccion" class="form-control" />
	<label>Telefono: </label>
	<input type="text" name="telefono" class="form-control" />
	<label>Camas: </label>
	<input type="text" name="camas" class="form-control" />
	<button>Enviar</button>
</form>
<h2 style="color: red">@ViewData["MENSAJE"]</h2>
